#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# An install recipe for desktop, server, or hypervisor

%ksappend fragments/shared/core/base.ks
%ksappend fragments/shared/storage/standard.ks
%ksappend fragments/shared/bootloader/grub.ks
%ksappend fragments/shared/core/locale.ks
%ksappend fragments/shared/core/services.ks
%ksappend fragments/shared/core/network.ks
%ksappend fragments/shared/packages/core-group.ks
%ksappend fragments/shared/packages/fedora-remix.ks
%ksappend fragments/shared/packages/hand-picked.ks
%ksappend fragments/shared/core/security/enabled.ks
%ksappend fragments/shared/initial-setup/server/config.ks