#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# An install recipe for desktop, server, or hypervisor

%ksappend fragments/core/base.ks
%ksappend fragments/storage/standard.ks
%ksappend fragments/bootloader/grub.ks
%ksappend fragments/core/locale.ks
%ksappend fragments/core/services.ks
%ksappend fragments/core/network.ks
%ksappend fragments/packages/core-group.ks
%ksappend fragments/packages/fedora-remix.ks
%ksappend fragments/packages/hand-picked.ks
%ksappend fragments/hypervisor/base/packages.ks
%ksappend fragments/hypervisor/base/services.ks
%ksappend fragments/hypervisor/base/post-scripts.ks
%ksappend fragments/initial-setup/server/config.ks
%ksappend fragments/storage/encrypted.ks
%ksappend fragments/hypervisor/intelcpu.ks
%ksappend fragments/core/security/disabled.ks
%ksappend fragments/repo/fedora-43-mirrors.ks