#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# What ? This kickstart file bootstraps a live desktop hypervisor configured for Intel(tm) CPU and Intel(tm) GPUs compatible with vfio-mdev (pre-Tiger Lake)

# In order to be fed to virt-install or software like livecd-creator, this file needs to be flatten or merged into one.
# Here is how you can do it with the ksflatten tool provided by the pykickstart package on Fedora :
# ksflatten -c live-desktop-hypervisor-intelcpu-intelgpu -o ../dishes/live-phyllome-desktop-intelcpu-intelgpu.cfg

# to flatten all the files in the recipes repository, to the following
# for filename in *.cfg; do ksflatten -c "$filename" -o "../dishes/$filename"; done

# Instructions for creating an ISO file:
# Temporary disable SELinux:
# setenforce 0
# Use the following command to create an ISO file, as the root user:   
# livemedia-creator --make-iso --ks ../dishes/live-phyllome-desktop-intelcpu-intelgpu.cfg --no-virt --iso-only --iso-name phyllome-desktop-intelcpu-intelgpu-x86_64.iso --releasever 38

# The resulting ISO can be tested with qemu-kvm, using the following these two commands, as *root*:
# UEFI test: 
# qemu-kvm -bios /usr/share/edk2/ovmf/OVMF_CODE.fd -m 2048 -vga qxl phyllome-desktop-intelcpu-intelgpu-x86_64.iso
# BIOS test: 
# qemu-kvm -m 2048 -vga qxl phyllome-desktop-intelcpu-intelgpu-x86_64.iso

%include ../ingredients/base-fedora-repo.cfg # offical repositories for Fedora
%include ../ingredients/base-storage-live.cfg # a base storage for live systems
%include ../ingredients/base-live.cfg # A minimal base for live systems 
%include ../ingredients/base-desktop-gnome.cfg # A desktop environment based on GNOME Shell
%include ../ingredients/base-desktop-virtual-machine-manager.cfg # the virtual machine manager
%include ../ingredients/base-hypervisor.cfg # A base hypervisor
%include ../ingredients/base-hypervisor-intelcpu.cfg # Specific virtualization configuration for Intel (tm) CPUs
%include ../ingredients/base-hypervisor-intelgpu.cfg # Specific virtualization configuration for Intel (tm) GPUs from 4th to the 9th generation (compatible with vfio-mdev).