#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# What ? This kickstart file bootstraps a live desktop machine. 

# In order to be fed to virt-install or software like livecd-creator, this file needs to be flatten or merged into one.
# Here is how you can do it with the ksflatten tool provided by the pykickstart package on Fedora :
# ksflatten -c live-desktop.cfg -o ../dishes/live-desktop.cfg

# Instructions for creating an ISO file
# Temporary disable SELinux:
# setenforce 0
# Use the following command to create an ISO file, as the root user:  
# livemedia-creator --make-iso --ks live-desktop.cfg --no-virt --iso-only --iso-name live-desktop-x86_64.iso --releasever 38

# The resulting ISO can be tested with qemu-kvm, using the following these two commands, as *root*:
# UEFI test: 
# qemu-kvm -bios /usr/share/edk2/ovmf/OVMF_CODE.fd -m 2048 -vga qxl live-desktop-x86_64.iso
# BIOS test: 
# qemu-kvm -m 2048 -vga qxl live-desktop-x86_64.iso

%include ../ingredients/base-fedora-repo.cfg # offical repositories for Fedora
%include ../ingredients/base-live.cfg # A minimal base for live systems
%include ../ingredients/base-storage-live.cfg # a base storage for live systems
%include ../ingredients/base-desktop-gnome.cfg # A desktop environment based on GNOME Shell

poweroff # Shut down the system after a successful installation