#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# A live recipe for live-desktop or live-server

%include fragments/live/core/base.ks
%include fragments/live/core/storage.ks
%include fragments/live/core/bootloader/grub.ks
%include fragments/core/locale.ks
%include fragments/core/services.ks
%include fragments/core/network.ks
%include fragments/live/core/packages.ks
%include fragments/live/post/base.ks
%include fragments/live/post/session.ks
%include fragments/repo/rpmfusion-nonfree.ks