#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# What ? This kickstart file bootstraps a desktop hypervisor meant to be installed inside a virtual machine.

%include ../ingredients/core.cfg # The core configuration
%include ../ingredients/core-storage.cfg # Storage configuration
%include ../ingredients/core-bootloader-grub.cfg # Set bootloader to GNU GRUB
%include ../ingredients/core-locale.cfg # System locale

%include ../ingredients/core-security-off.cfg # Set security to low 
%include ../ingredients/core-services.cfg # Systemd services
%include ../ingredients/core-network.cfg # Network configuration

%include ../ingredients/core-packages-mandatory.cfg # Mandatory packages 
%include ../ingredients/core-packages-default.cfg # Default but not necessary packages
%include ../ingredients/core-packages-generic.cfg # Make it a generic distribution 
%include ../ingredients/core-packages-custom.cfg # Hand-picked packages 
%include ../ingredients/core-fedora-repo.cfg # Offical repositories for Fedora

%include ../ingredients/core-post.cfg # Post configuration script
%include ../ingredients/core-desktop-initial-setup.cfg # Includes initial-setup for GNOME Shell, allowing for the creation of a user after the first boot, as well as some basic configuration

%include ../ingredients/base-desktop-gnome.cfg # A desktop environment

%include ../ingredients/base-desktop-virtual-machine-manager.cfg # the virtual machine manager
%include ../ingredients/base-hypervisor.cfg # A base hypervisor
%include ../ingredients/base-guest-agents.cfg # Guest agents