#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# What ? This kickstart file bootstraps a desktop machine. 
# 'd' for desktop

# ATTENTION : this kickstart file will automatically DESTROY the main disk and all of its contents. 
# Bye bye!

# In order to be fed to virt-install or software like livecd-creator, this file needs to be flatten or merged into one.
# Here is how you can do it with the ksflatten tool provided by the pykickstart package on Fedora :
# ksflatten -c d.cfg -o ../flat/flat-d.cfg

%include b.cfg # A base system
%include bd.cfg # A desktop environment

reboot --kexec # Reboot straight into the system after a successfull installation

%packages --exclude-weakdeps # Beginning of the packages section. Do not include weak dependencies.

gnome-initial-setup # Add GNOME initial setup too.

%end # End of the %post section

%post --nochroot --log=/mnt/sysimage/root/d.log # Beginning of %post section. Those commands are executed outside the chroot environment. Add logging.

truncate -s 0 /mnt/sysimage/usr/share/gnome-initial-setup/vendor.conf # remove content of vendor.conf so that all options are made available

# set new default background (doesn't work. Would have to call a script on first boot or something)
# gsettings set org.gnome.desktop.background picture-uri file://mnt/sysimage/usr/share/backgrounds/elementary/default

%end # End of the %post section