#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# What ? This kickstart file itents to provide a basic block small than the minimal operating system.

# In order to be fed to virt-install or software like livecd-creator, this file needs to be flatten or merged into one.
# Here is how you can do it with the ksflatten tool provided by the pykickstart package on Fedora :
# ksflatten -c nano.cfg -o ../leaves/nano-server-a.cfg

%include base-fedora-repo.cfg # offical repositories for Fedora
%include base-storage.cfg # base storage
%include base-nano.cfg # A base system

firstboot --enable --reconfig # Initial Setup will start after the first reboot
reboot --kexec # Reboot straight into the system after a successfull installation

%packages --exclude-weakdeps # Beginning of the packages section. Do not include weak dependencies.

initial-setup # Install the initial setup package.

%end # End of the packages section