#            __          ____                        ____  _____
#     ____  / /_  __  __/ / /___  ____ ___  ___     / __ \/ ___/
#    / __ \/ __ \/ / / / / / __ \/ __ `__ \/ _ \   / / / /\__ \
#   / /_/ / / / / /_/ / / / /_/ / / / / / /  __/  / /_/ /___/ /
#  / .___/_/ /_/\__, /_/_/\____/_/ /_/ /_/\___/   \____//____/
# /_/          /____/

# Universal template to generate kickstart recipes for a server, a desktop or a hypervisor system

%include repo/rawhide-mirrors.ks
%include core/base.ks
%include bootloader/grub.ks
%include storage/encrypted.ks
%include core/locale.ks
%include core/services.ks
%include core/network.ks
%include packages/core.ks
%include packages/fedora-remix.ks
%include packages/hand-picked.ks
%include core/security/enabled.ks
%include initial-setup/server/config.ks
%include desktop/gnome/config.ks
%include desktop/gnome/packages.ks
%include desktop/gnome/post-scripts.ks
